/* STRUTTURA DI BASE */
h1, h2, h3, h4 {
    font-family: 'Muli', sans-serif;
}

.letter-w {
    color: white;
}

header {
    /* height: 600px; */
    background-color: #005fff;
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#logos {
    /* height: 270px; */
}

.bg-light {
    background-color: #f3f5f9;
}

#deploy {
    /* height: 800px; */
}

.bg-white {
    background-color: white;
}

#design {
    /* height: 800px; */
}

#features {
    /* height: 400px; */
}

#countries {
    /* height: 400px; */
}

.bg-blue {
    background-color: #002eab;
}

#rocker {
    /* height: 600px; */
}

#getstarted {
    /* height: 270px; */
}

footer {
    /* height: 500px; */
    background-color: #031c4e;
}

/* BORDI DA CANCELLARE */
.brdr-w {
    border: 1px solid white;
}

.brdr-b {
    border: 1px solid black;
}

/* NAV */
.navbar-default .navbar-nav > li > a {
    color: #223863;
    font-weight: 700;
    font-size: 15px;
}

.nav-img {
    width: 180px;
}
.nav-p {
    background-color: white;
    margin-bottom: 0px;
    height: 70px;
}

.nav-lh {
    line-height: 70px;
}


.navbar ul li a {
    /* height: 70px; */
    line-height: 40px;
}

.btn-pp {
    border: 2px solid #2b82ff;
    color: #2b82ff;
    font-weight: 700;
}

/* HEADER */
.banner-p {
    height: 600px;
}

header h1 {
    font-size: 50px;
    font-weight: 800;
}

header h3 {
    font-weight: 800;
    color: #223863;
}

header p {
    font-size: 20px;
    line-height: 30px;
}

.header-box {
    width: 75%;
    position: relative;
    top: 100px;
}

.header-box-2 {
    width: 95%;
    position: relative;
    top: 100px;
}

.jumbotron-p {
    width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
    top: 15%;
}

.container .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
}

input {
    width: 98%;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
}

.btn-width {
    width: 98%;
    line-height: 20px;
    margin-top: 10px;
}

.btn-j {
    border-right: 1px solid #f2f1f2;
    border-bottom: 1px solid #f2f1f2;
}

#google-icon {
float: left;
color: red;
}

/* LOGOS */
.logos-row {
    height: 80px;
}

.logos-row-2 {
    height: 110px;
}

/* DEPLOY */
.deploy-row {
    height: 300px;
}

aside {
    height: 500px;
}

.deploy-row-2 {
    height: 500px;
}

/* <!-- DESIGN CAROUSEL --> */
.design-row {
    height: 300px;
}

.design-row-2 {
    height: 500px;
}

/* <!-- FEATURES --> */
.features-row {
    height: 150px;
}

.features-row-2 {
    height: 250px;
}

/* <!-- COUNTRIES --> */
.countries-row {
    height: 100px;
}

.countries-row-2 {
    height: 300px;
}

/* ROCKER CAROUSEL */
.rocker-row {
    height: 200px;
}

.rocker-row-2 {
    height: 400px;
}

/* <!-- GETSTARTED TAB --> */
.getstarted-row {
    height: 135px;
}

.btn-p {
    line-height: 135px;
}

/* FOOTER */
.footer-row {
    height: 500px;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .btn-nav-cll {
        margin-top: 18px;
    }
}
