/* STRUTTURA DI BASE */
h1, h2, h3, h4 {
    font-family: 'Muli', sans-serif;
}

h2 {
    font-size: 35px;
}

.letter-w {
    color: white;
}

header {
    /* height: 600px; */
    background-color: #005fff;
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#logos {
    /* height: 270px; */
}

.bg-light {
    background-color: #f3f5f9;
}

#deploy {
    /* height: 800px; */
}

.bg-white {
    background-color: white;
}

#design {
    /* height: 800px; */
}

#features {
    /* height: 400px; */
}

#countries {
    /* height: 400px; */
    background: #031b4e url('https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blue {
    background-color: #002eab;
}

#rocker {
    /* height: 600px; */
}

#getstarted {
    /* height: 270px; */
}

footer {
    /* height: 500px; */
    background-color: #031c4e;
}

/* BORDI DA CANCELLARE */
.brdr-w {
    border: 1px solid white;
}

.brdr-b {
    border: 1px solid black;
}

/* NAV */
.navbar-default .navbar-nav > li > a {
    color: #223863;
    font-weight: 700;
    font-size: 15px;
}

.nav-img {
    width: 150px;
    padding-top: 6px;
}
.nav-p {
    background-color: white;
    margin-bottom: 0px;
    height: 70px;
}

.nav-lh {
    line-height: 70px;
}


.navbar ul li a {
    /* height: 70px; */
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #2b82ff;
}

nav .btn-default:hover {
    color: white;
    background-color: #2b82ff;
    border: 2px solid #2b82ff;
}

.btn-pp {
    border: 2px solid #2b82ff;
    color: #2b82ff;
    font-weight: 700;
}

/* HEADER */
.banner-p {
    height: 600px;
}

header h1 {
    font-size: 50px;
    font-weight: 800;
}

header h3 {
    font-weight: 800;
    color: #223863;
}

header p {
    font-size: 20px;
    line-height: 30px;
}

.header-box {
    width: 75%;
    position: relative;
    top: 100px;
}

.header-box-2 {
    width: 95%;
    position: relative;
    top: 100px;
}

.jumbotron-p {
    width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
    top: 15%;
}

.container .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
}

input {
    width: 98%;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
}

.btn-width {
    width: 98%;
    line-height: 20px;
    margin-top: 10px;
}

.btn-j {
    border-right: 1px solid #f2f1f2;
    border-bottom: 1px solid #f2f1f2;
}

#google-icon {
float: left;
color: red;
}

#terms {
    color: #2b82ff;
    text-decoration: underline;
    cursor: pointer;
}

.jumbotron p {
    font-size: 12px;
}

header .btn-default:hover {
    color: black;
    font-weight: bold;
    background-color: white;
}

/* LOGOS */
.logos-row {
    height: 80px;
}

/* .logos-row-2 {
    height: 110px;
} */

#business {
    font-size: 15px;
    text-transform: uppercase;
    color: #a4acbe;
    font-weight: bold;
    line-height: 80px;
}

#logos img {
    width: 120px;
    line-height: 110px;
}

.logos-mr {
    margin-right: 40px;
}

.customer {
    color: #2b82ff;
    font-weight: bold;
    line-height: 80px;
    cursor: pointer;
}

/* DEPLOY */
.deploy-row {
    /* height: 300px; */
}

aside {
    height: 500px;
}

.deploy-row-2 {
    /* height: 500px; */
}

.deploy-box {
    position: relative;
    top: 20%;
    padding-bottom: 80px;
}

#deploy h2 {
    margin-top: 80px;
    color: #223863;
    font-weight: bold;
}

#deploy h4 {
    width: 90%;
    line-height: 25px;
    color: #616e8b;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 80px;
}

.aside-list {
    width: 100%;
}

#deploy aside .aside-list {
    color: grey;
    font-weight: bold;
    font-size: 16px;
    line-height: 55px;
    list-style-type: none;
    position: relative;
    top: 40px;
    left: 20px;
}

#deploy aside ul li {
    list-style-type: none;
    border-left: 2px solid #e5e8ed;
    padding-left: 18px;
    cursor: pointer;
}

#deploy aside ul li:nth-child(1) {
    border-left: 2px solid #0270ff;
    color: #223863;
}

.deploy-row-row {
    height: 250px;
}

#deploy img {
    width: 50px;
}

#deploy h4 {
    color: #223863;
    margin: 0;
    padding-top: 15px;
}

#deploy p {
    color: grey;
    margin-left: 0;
    padding-top: 15px;
    font-size: 17px;
}

/* <!-- DESIGN CAROUSEL --> */
.design-row {
    /* height: 200px; */
}

.design-row-2 {
    /* height: 500px; */
}

.design-row-3 {
    /* height: 100px; */
}

#design h2 {
    padding-top: 50px;
    color: #223863;
    font-weight: bold;
}

#design h4 {
    color: grey;
    padding-bottom: 50px;
}

#design img {
    width: 60%;
    /* padding-top: 80px; */
}

#design span {
    font-size: 40px;
    color: #223863;
    padding-top: 50px;
    position: relative;
    top: 10%;
    cursor: pointer;
}

#design p {
    color: #223863;
    font-weight: bold;
}

.svg-inline--fa {
    color: #0270ff;
    cursor: pointer;
    margin-bottom: 50px;
}


/* <!-- FEATURES --> */
.features-row {
    /* height: 150px; */
}

.features-row-2 {
    /* height: 250px; */
}

#features h2 {
    color: #223863;
    font-weight: bold;
    line-height: 100px;
}

#features img {
    width: 50px;
}

#features h4 {
    color: #223863;
    margin: 0;
    padding-top: 15px;
    font-weight: bold;
}

#features p {
    color: grey;
    margin-left: 0;
    padding-top: 15px;
    font-size: 17px;
}

#features p:last-child {
    color: #2b82ff;
    font-weight: bold;
    padding-bottom: 50px;
}

/* <!-- COUNTRIES --> */
.countries-row {
    /* height: 100px; */
}

.countries-row-2 {
    height: 300px;
}

#countries h2 {
    color: white;
    font-weight: bold;
    line-height: 100px;
}

.c-line p {
    color: white;
    float: left;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15%;
}

.p-s {
    color: white;
    float: left;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 15%;
}

.c-line {
    width: 100%;
    height: 40px;
    color: white;
    line-height: 40px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.c-line-2 {
    width: 100%;
    height: 40px;
    color: white;
    line-height: 40px;
    font-weight: bold;
}

#third-p {
    margin-right: 0;
    margin-left: 67px;
}

/* ROCKER CAROUSEL */
.rocker-row {
    height: 200px;
}

.rocker-row-2 {
    height: 400px;
}

/* <!-- GETSTARTED TAB --> */
.getstarted-row {
    height: 135px;
}

.btn-p {
    line-height: 135px;
}

/* FOOTER */
.footer-row {
    height: 500px;
}

@media screen and (max-width: 1200px) {
    .countries-row-2 {
        width: 100%;
        height: 240px;
    }
    .c-line {
        width: 100%;
    }
    .c-line-1 {
        width: 100%;
        border-bottom: none;
        height: 40px;
        color: white;
        line-height: 40px;
        font-weight: bold;
        /* margin-right: 22%; */

    }
    .c-line-2 {
        width: 100%;
        height: 40px;
        color: white;
        line-height: 40px;
        font-weight: bold;
        /* margin-right: 22%; */
        border-bottom: 1px solid white;
    }
    .c-line p {
        color: white;
        /* line-height: 40px; */
        float: left;
        font-weight: bold;
        margin-bottom: 0;
        margin-right: 22%;
    }
    .p-s {
        color: white;
        float: left;
        font-weight: bold;
        margin-bottom: 0;
        margin-right: 22%;
    }
    #third-p {
        float: right;
    }
}


@media screen and (max-width: 991px) {
    /* .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    } */
    .btn-nav-cll {
        margin-top: 18px;
    }

    .navbar ul li a {
        /* height: 70px; */
        line-height: 40px;
        padding-left: 3px;
        padding-right: 3px;
    }
    aside {
        height: 150px;
        text-align: center;
    }
    #deploy aside .aside-list {
        width: 75%;
        height: 55px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #deploy aside .aside-list {
        color: grey;
        font-weight: bold;
        font-size: 16px;
        line-height: 55px;
        list-style-type: none;
    }
    #deploy aside ul li {
        list-style-type: none;
        border-top: 2px solid #e5e8ed;
        padding-left: 18px;
        float: left;
        border-left: none;
        text-align: center;
    }
    #deploy aside ul li:nth-child(1) {
        border-top: 2px solid #0270ff;
        color: #223863;
        border-left: none;
    }
    .deploy-row-row {
        height: 350px;
    }
    #design img {

    }
    .countries-row-2 {
        width: 100%;
        height: 240px;
    }
    #design p {
        padding-top: 30px;
    }
}

@media screen (min-width: 782px) and (max-width: 991px;) {
    .countries-row-2 {
        width: 100%;
        height: 240px;
    }
}

@media screen and (max-width: 480px) {
    #deploy aside .aside-list {
        width: 100%;
        }
}
